h1 { 
  color: rgba(32,36,46);
  font-size: 220%;
  font-family: "monaco";
  background-color: rgba(137,190,178,0.8);
  margin-top: 0.25em;
  margin-bottom: 0.25em;
  padding-top: 0.3em;
  padding-right: 10em;
  padding-left: 10em;
}
body{

}

#wrap{
    display: flex;
    justify-content: space-between;

}

#choice{
  font-size: 18px;
  font-family: "monaco";
  font-weight: 700;
  color:rgba(32,36,46);
  background-color: rgba(12,50,46,0.6);
  height: 352px;
  width: 160px;
  background-size:150px 100px;
  background-repeat:;
  padding-top:250px;
}